<template>
  <div class="container">
    <h1 class="title">Blackjack</h1>
    <Table />
  </div>
</template>

<script>
import Table from "./Table";
// import { mapState } from "vuex";
import store from "@/store/BlackJack";
export default {
  name: "BlackJack",
  store,
  components: {
    Table,
  },
  methods: {},
};
</script>

<style>
</style>