<template>
  <div :class="suitClass" class="card columns">
    <div class="column is-one-fifth">{{ suit }}</div>
    <div class="column has-text-centered">{{ number }}</div>
    <div class="column is-one-fifth">{{ suit }}</div>
  </div>
</template>
<script>
export default {
  props: {
    suit: String,
    number: Number,
    faceUp: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    suitClass: function () {
      let sc = "has-background-";
      switch (this.suit) {
        case "spades":
          sc += "black";
          break;
        case "clubs":
          sc += "success";
          break;
        case "diamonds":
          sc += "info";
          break;
        case "hearts":
          sc += "danger";
          break;
      }
      return sc;
    },
  },
};
</script>
<style lang="scss">
</style>
