<template>
  <section
    class="player mb-5"
    :class="{
      'has-background-primary': isPlayer,
      'has-background-warning': isDealer,
    }"
  >
    <h2>I am {{ player.name }} and my role is {{ player.role }}</h2>
    <section class="hand">
      <Card v-for="card in player.hand" :key="card" />
      <pre>
        {{ player }}
      </pre>
    </section>
  </section>
</template>

<script>
import Card from "./Card";
export default {
  name: "VPlayer",
  props: ["player"],
  components: { Card },
  computed: {
    isDealer: function () {
      return this.player.role === "dealer";
    },
    isPlayer: function () {
      return !this.isDealer;
    },
  },
  methods: {},
};
</script>