<template>
  <div>
    <Player :player="dealer" />
    <Player :player="player" />
  </div>
</template>

<script>
import Player from "./Player";
import { mapState } from "vuex";
export default {
  components: { Player },
  computed: mapState(["player", "dealer"]),
  methods: {
    foo: function () {
      alert(this.$store.state.count);
    },
  },
};
</script>