<template>
  <div id="app">
    <BlackJack />
  </div>
</template>

<script>
import BlackJack from "@/components/BlackJack";

export default {
  name: "App",
  components: {
    BlackJack,
  },
};
</script>
